


* {margin: 2px; box-sizing: border-box; }

body{
    font: size 16px;
    line-height: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
	  background-color:#eee;
}
main {
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #bed;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 1rem;
    text-align: center;
    max-width: fit-content;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: blue;
}